/* ======================== */
/* Utility Classes */
/* ======================== */

.padded {
    padding: 1rem;
}

/* ======================== */
/* Container Classes */
/* ======================== */

.journey-render-container {
    min-width: 50em;
    min-height: 30em;
    border: 1px solid #000;
    margin: 1rem;
    margin-bottom: 2rem;
}

/* ======================== */
/* Journey Structure Classes */
/* ======================== */

/* Header */ 
.journey-header {
    padding: 2em;
}
.journey-title {
    font-size: 1.5em;
    font-weight: bold;
}
.journey-description{
    font-size: 1em;
}

/* Header */ 
.journey-footer {
    padding: 2em;
    text-align: right;
}
.journey-footer-content {
    font-size: 0.5em;
    color: #666;
    font-style: italic;
}