/* ======================== */
/* Utility Classes */
/* ======================== */

.padded {
    padding: 0rem;
}

.gray-id {
    color: #666;
    font-size: smaller;
}

/* ======================== */
/* Container Classes */
/* ======================== */

.journey-render-container {
    border: 1px solid #000;
    margin-top: 0em;
    margin-bottom: 1em;
}

.journey-canvas {
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
}

/* ======================== */
/* Journey Structure Classes */
/* ======================== */

/* Header */ 
.journey-header {
    padding: 2em;
    padding-bottom: 1em;
}
.journey-title {
    font-size: 1.5em;
    font-weight: bold;
}
.journey-description{
    font-size: 1em;
}

/* Footer */ 
.journey-footer {
    padding: 2em;
    text-align: right;
}
.journey-footer-content {
    font-size: 0.5em;
    color: #666;
    font-style: italic;
}

.journey-end {
    margin-top: 0em;
    margin-bottom: 1em;
}

/* Event and Activity Grid */
.journey-grid {
    margin-left: 2em;
    margin-right: 2em;
}

.journey-entry {
    width: 5em;
    height: 5em;
    background: #97cf66;
    border-radius: 50%;
    margin: 2em;
    position: relative;
    z-index: 5;
}

.journey-decision {
    width: 5em;
    height: 5em;
    background: #ec8b23;
    border-radius: 5%;
}

.journey-activity {
    width: 5em;
    height: 5em;
    background: #52c7bc;
    border-radius: 20%;
    margin: 2em;
    z-index: 5;
    position: relative;
    margin-bottom: 6em;
}

.journey-split {
    background: #97a4b1;
}

.journey-event-label {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
}

.journey-event-description {
    margin-top: 0.4em;
    padding: 0.2.em;
    text-align: center;
}
.smalltext {
    margin-top: 0.4em;
    font-size: 0.1em;
}

.journey-connector-line {
    position:absolute;
    z-index: 1;
    width: 1.5em;
    margin-top: 4.5em;
    background-color: rgb(222,222,222,0.75);
}